<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"
          name="viewport">
    <title>关于我们</title>
    <link href="/statics/reset.css" rel="stylesheet">
    <link href="/statics/style/about.css" rel="stylesheet">
</head>
<body>
<div class="about-body">
    <div class="text-container">
        <div class="text-wrapper">
            <p class="company-explain">
                河南，成立于2016年，经营范围: 计算机软件的技术开发、技术咨询、技术服务、技术转让、
                网络工程设计及施工、网页设计、网络技术开发。旗下主要有 “金翁资本”互联网软件产品。
            </p>
            <p class="info-desc">
                “智慧社区”是河南多客网络技术有限公司旗下一款主要产品，是由100多家投资机构
                ，5000个天使投资人形成的资本市场信息的一款软件平台，平台在全国范围内提供投融资信息的第一手资料，
                金翁资本面向全国寻找优质的融资项目，是一个专业为生意人和创业人士寻找资金信息和项目信息的信息服务平台，
                致力帮助于广大中小型企业提供投资信息，融资信息和资产交易信息，不定期开展线下商业沙龙会，项目路演，项目对接，
                并深度挖掘和解决了生意人和创业人士的痛点。
            </p>
            <div class="three-explain">
                <div class="first">
                    <div class="title">企业文化：</div>
                    <div class="text1">注重企业责任，用心服务，关爱社会、回馈社会，赢得社会尊敬</div>
                </div>
                <div class="second">
                    <div class="title">使命：</div>
                    <div class="text2">让天下没有难做的生意，没有结识不了的人脉</div>
                </div>
                <div class="three">
                    <div class="title">愿景：</div>
                    <div class="text3">全国最大，最受尊重，最具信任，最专业，服务最优，用户资源最多的投融资平台。</div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
