<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"
          name="viewport">
    <title>金翁资本App协议</title>
    <link href="/statics/reset.css" rel="stylesheet">
    <link href="/statics/style/protocol.css" rel="stylesheet">
</head>
<body>
<div class="protocol-mask">
    <div class="protocol-wrapper">
        <!--<div class="protocol-header">签订合作协议</div>-->
        <div class="protocol-body" style="margin-top: 60px">
            尊敬的渠道管理员:</br>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp欢迎阅读金翁资本<a href="/api/page/fourAgentProtocol">《渠道管理员协议》</a>，您应当在使用服务之前认真阅读本协议全部内容。如果您对本协议任何条款表示异议，您可以选择不使用此服务。点击“同意”按钮，则意味着您自愿遵守本协议。

        </div>
        <!-- <div class="protocol-footer">
             <div class="left" id="cancle">取消</div>
             <div class="middle"></div>
             <div class="right" id="conform">提交</div>
         </div>-->
        </div>
    </div>
<!--  <script>
      let Conbtn = document.getElementById("conform")
      Conbtn.onclick = function () {
          Conbtn.style.color = "#3F8EEF"
          // window.location.href = ""
      }
  </script>-->
</body>
</html>
